html, body {
  height: 100%;
}

.container {
  min-height: 100%;
  position: relative;
}

.tabl {
  margin-top: 20px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;  
  border: 2px solid black;
  border-collapse: collapse;
}
th, td{
  border: 1px solid black;
  border-collapse: collapse;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #a2a2d0;
  text-align: center;
  line-height: 60px;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('background.jpg');
  background-size: cover;
}
header {
  background-color: #a2a2d0;
  padding: 10px;
  text-align: center;
}
nav ul {
  list-style: none;
  padding: 0;
}
nav ul li {
  display: inline;
  margin: 0 10px;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
main {
  padding: 20px;
  text-align: center;
}
.text {
  font-weight: normal;
  padding: 0 15px
}
h3 {
  text-align: center
}
.cen{
   text-align: center;
}
.ben {
  padding: 10px
}
.tabc{
  width: 100%;
  border: 0px;
}
#per{
  width: 350px
}
#vto{
  width: 200px
}
#tre{
  width: 550px
}
#che{
  width: px
}
#per, #vto, #tre, #che {
  border: none
}
spisusl {
  
}
dt{
  padding:5px
}
.tet{
  padding: 10px
}
.bebr{
  text-align: center;
}
button {
  background-color: #87cefa;
}
#gere{
  padding: 10px;
}
li {
  padding: 5px
}
#fir{
  width: 350px
}
#sec{
  width: 500px}
#thi{
  width: px
}
#fir, #sec, #thi {
  border: none
}
.den {
  padding: 68px
}
.tabn{
  width: 100%;
  border: 0px;
